*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 80px;
    background-color: white;
    padding-left: 25px;
    line-height: 80px;
}

.logo{
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

img{
    vertical-align: middle;
}

body{
    background-color: rgb(246, 248, 249);
}

.contenitore{
    margin: auto;
    width: 70%;
    background-color: white;
    padding-left: 5%;
}

.sopra{
    margin-top: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
    height: 60px;
}

.sotto{
    margin-top: 5px;
    height: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottone{
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

.task{
    border-color: rgb(96, 170, 229);
    background-color: rgb(96, 170, 229);
    color: white;
}

.section{
    border-color: lightgray;
    color: lightgray;
}

.sezione{
   padding-top: 20px;
    
}

.icona{
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
}

.si{
    border-color: lightgreen;
    color: lightgreen;
}

.bottonepiccolo{
    padding: 5px 10px;
    border-radius: 10px;
    border: 0px;
    color: white;
    font-size: 10px;

}

.blu{
    background-color: rgb(96, 170, 229);
}

.viola{
    background-color: rgb(149,118,221);
}

.pt1{
    padding-top: 10px;
}